{{define "link"}}
<http manifest="/cdn/cache.manifest">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- jquert -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- anime -->
<script src="https://cdn.bootcss.com/animejs/2.0.2/anime.min.js"></script>
<!-- self -->
<link rel="stylesheet" href="/cdn/css/global.css">
<link rel="stylesheet" href="/cdn/css/rem.css">
<link rel="stylesheet" href="/cdn/css/markdown.css">
<script src="/cdn/jqueryFn.js"></script>
{{end}}