@import '~antd/dist/antd.css';

html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.bg1 {
  background-color: #00f;
}
.bg2 {
  background-color: #f03;
}