.fs0 {
  font-size: 0rem;
}

.fs1 {
  font-size: 0.1rem;
}

.fs2 {
  font-size: 0.2rem;
}

.fs3 {
  font-size: 0.3rem;
}

.fs4 {
  font-size: 0.4rem;
}

.fs5 {
  font-size: 0.5rem;
}

.fs6 {
  font-size: 0.6rem;
}

.fs7 {
  font-size: 0.7rem;
}

.fs8 {
  font-size: 0.8rem;
}

.fs9 {
  font-size: 0.9rem;
}

.fs10 {
  font-size: 1.0rem;
}
.fs11 {
  font-size: 1.1rem;
}
.fs12 {
  font-size: 1.2rem;
}
.fs13 {
  font-size: 1.3rem;
}
.fs14 {
  font-size: 1.4rem;
}
.fs15 {
  font-size: 1.5rem;
}
.fs16 {
  font-size: 1.6rem;
}
.fs17 {
  font-size: 1.7rem;
}
.fs18 {
  font-size: 1.8rem;
}
.fs19 {
  font-size: 1.9rem;
}

.fs20 {
  font-size: 2.0rem;
}
.fs21 {
  font-size: 2.1rem;
}
.fs22 {
  font-size: 2.2rem;
}
.fs23 {
  font-size: 2.3rem;
}
.fs24 {
  font-size: 2.4rem;
}
.fs25 {
  font-size: 2.5rem;
}
.fs26 {
  font-size: 2.6rem;
}
.fs27 {
  font-size: 2.7rem;
}
.fs28 {
  font-size: 2.8rem;
}
.fs29 {
  font-size: 2.9rem;
}

.fs30 {
  font-size: 3.0rem;
}
.fs31 {
  font-size: 3.1rem;
}
.fs32 {
  font-size: 3.2rem;
}
.fs33 {
  font-size: 3.3rem;
}
.fs34 {
  font-size: 3.4rem;
}
.fs35 {
  font-size: 3.5rem;
}
.fs36 {
  font-size: 3.6rem;
}
.fs37 {
  font-size: 3.7rem;
}
.fs38 {
  font-size: 3.8rem;
}
.fs39 {
  font-size: 3.9rem;
}

.fs40 {
  font-size: 4.0rem;
}
.fs41 {
  font-size: 4.1rem;
}
.fs42 {
  font-size: 4.2rem;
}
.fs43 {
  font-size: 4.3rem;
}
.fs44 {
  font-size: 4.4rem;
}
.fs45 {
  font-size: 4.5rem;
}
.fs46 {
  font-size: 4.6rem;
}
.fs47 {
  font-size: 4.7rem;
}
.fs48 {
  font-size: 4.8rem;
}
.fs49 {
  font-size: 4.9rem;
}

.fs50 {
  font-size: 5.0rem;
}
.fs51 {
  font-size: 5.1rem;
}
.fs52 {
  font-size: 5.2rem;
}
.fs53 {
  font-size: 5.3rem;
}
.fs54 {
  font-size: 5.4rem;
}
.fs55 {
  font-size: 5.5rem;
}
.fs56 {
  font-size: 5.6rem;
}
.fs57 {
  font-size: 5.7rem;
}
.fs58 {
  font-size: 5.8rem;
}
.fs59 {
  font-size: 5.9rem;
}

.fs60 {
  font-size: 6.0rem;
}
.fs61 {
  font-size: 6.1rem;
}
.fs62 {
  font-size: 6.2rem;
}
.fs63 {
  font-size: 6.3rem;
}
.fs64 {
  font-size: 6.4rem;
}
.fs65 {
  font-size: 6.5rem;
}
.fs66 {
  font-size: 6.6rem;
}
.fs67 {
  font-size: 6.7rem;
}
.fs68 {
  font-size: 6.8rem;
}
.fs69 {
  font-size: 6.9rem;
}

.fs70 {
  font-size: 7.0rem;
}
.fs71 {
  font-size: 7.1rem;
}
.fs72 {
  font-size: 7.2rem;
}
.fs73 {
  font-size: 7.3rem;
}
.fs74 {
  font-size: 7.4rem;
}
.fs75 {
  font-size: 7.5rem;
}
.fs76 {
  font-size: 7.6rem;
}
.fs77 {
  font-size: 7.7rem;
}
.fs78 {
  font-size: 7.8rem;
}
.fs79 {
  font-size: 7.9rem;
}

.fs80 {
  font-size: 8.0rem;
}
