
.w-0 {
  width: 0%;
}
.w-1 {
  width: 1%;
}
.w-2 {
  width: 2%;
}
.w-3 {
  width: 3%;
}
.w-4 {
  width: 4%;
}
.w-5 {
  width: 5%;
}
.w-6 {
  width: 6%;
}
.w-7 {
  width: 7%;
}
.w-8 {
  width: 8%;
}
.w-9 {
  width: 9%;
}
.w-10 {
  width: 10%;
}
.w-11 {
  width: 11%;
}
.w-12 {
  width: 12%;
}
.w-13 {
  width: 13%;
}
.w-14 {
  width: 14%;
}
.w-15 {
  width: 15%;
}
.w-16 {
  width: 16%;
}
.w-17 {
  width: 17%;
}
.w-18 {
  width: 18%;
}
.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}
.w-21 {
  width: 21%;
}
.w-22 {
  width: 22%;
}
.w-23 {
  width: 23%;
}
.w-24 {
  width: 24%;
}
.w-25 {
  width: 25%;
}
.w-26 {
  width: 26%;
}
.w-27 {
  width: 27%;
}
.w-28 {
  width: 28%;
}
.w-29 {
  width: 29%;
}

.w-30 {
  width: 30%;
}
.w-31 {
  width: 31%;
}
.w-32 {
  width: 32%;
}
.w-33 {
  width: 33%;
}
.w-34 {
  width: 34%;
}
.w-35 {
  width: 35%;
}
.w-36 {
  width: 36%;
}
.w-37 {
  width: 37%;
}
.w-38 {
  width: 38%;
}
.w-39 {
  width: 39%;
}

.w-40 {
  width: 40%;
}
.w-41 {
  width: 41%;
}
.w-42 {
  width: 42%;
}
.w-43 {
  width: 43%;
}
.w-44 {
  width: 44%;
}
.w-45 {
  width: 45%;
}
.w-46 {
  width: 46%;
}
.w-47 {
  width: 47%;
}
.w-48 {
  width: 48%;
}
.w-49 {
  width: 49%;
}
.w-50 {
  width: 50%;
}
.w-51 {
  width: 51%;
}
.w-52 {
  width: 52%;
}
.w-53 {
  width: 53%;
}
.w-54 {
  width: 54%;
}
.w-55 {
  width: 55%;
}
.w-56 {
  width: 56%;
}
.w-57 {
  width: 57%;
}
.w-58 {
  width: 58%;
}
.w-59 {
  width: 59%;
}

.w-60 {
  width: 60%;
}
.w-61 {
  width: 61%;
}
.w-62 {
  width: 62%;
}
.w-63 {
  width: 63%;
}
.w-64 {
  width: 64%;
}
.w-65 {
  width: 65%;
}
.w-66 {
  width: 66%;
}
.w-67 {
  width: 67%;
}
.w-68 {
  width: 68%;
}
.w-69 {
  width: 69%;
}

.w-70 {
  width: 70%;
}
.w-71 {
  width: 71%;
}
.w-72 {
  width: 72%;
}
.w-73 {
  width: 73%;
}
.w-74 {
  width: 74%;
}
.w-75 {
  width: 75%;
}
.w-76 {
  width: 76%;
}
.w-77 {
  width: 77%;
}
.w-78 {
  width: 78%;
}
.w-79 {
  width: 79%;
}

.w-80 {
  width: 80%;
}
.w-81 {
  width: 81%;
}
.w-82 {
  width: 82%;
}
.w-83 {
  width: 83%;
}
.w-84 {
  width: 84%;
}
.w-85 {
  width: 85%;
}
.w-86 {
  width: 86%;
}
.w-87 {
  width: 87%;
}
.w-88 {
  width: 88%;
}
.w-89 {
  width: 89%;
}
.w-90 {
  width: 90%;
}
.w-91 {
  width: 91%;
}
.w-92 {
  width: 92%;
}
.w-93 {
  width: 93%;
}
.w-94 {
  width: 94%;
}
.w-95 {
  width: 95%;
}
.w-96 {
  width: 96%;
}
.w-97 {
  width: 97%;
}
.w-98 {
  width: 98%;
}
.w-99 {
  width: 99%;
}
.w-100 {
  width: 100%;
}

.h-0 {
  height: 0%;
}
.h-1 {
  height: 1%;
}
.h-2 {
  height: 2%;
}
.h-3 {
  height: 3%;
}
.h-4 {
  height: 4%;
}
.h-5 {
  height: 5%;
}
.h-6 {
  height: 6%;
}
.h-7 {
  height: 7%;
}
.h-8 {
  height: 8%;
}
.h-9 {
  height: 9%;
}
.h-10 {
  height: 10%;
}
.h-11 {
  height: 11%;
}
.h-12 {
  height: 12%;
}
.h-13 {
  height: 13%;
}
.h-14 {
  height: 14%;
}
.h-15 {
  height: 15%;
}
.h-16 {
  height: 16%;
}
.h-17 {
  height: 17%;
}
.h-18 {
  height: 18%;
}
.h-19 {
  height: 19%;
}

.h-20 {
  height: 20%;
}
.h-21 {
  height: 21%;
}
.h-22 {
  height: 22%;
}
.h-23 {
  height: 23%;
}
.h-24 {
  height: 24%;
}
.h-25 {
  height: 25%;
}
.h-26 {
  height: 26%;
}
.h-27 {
  height: 27%;
}
.h-28 {
  height: 28%;
}
.h-29 {
  height: 29%;
}

.h-30 {
  height: 30%;
}
.h-31 {
  height: 31%;
}
.h-32 {
  height: 32%;
}
.h-33 {
  height: 33%;
}
.h-34 {
  height: 34%;
}
.h-35 {
  height: 35%;
}
.h-36 {
  height: 36%;
}
.h-37 {
  height: 37%;
}
.h-38 {
  height: 38%;
}
.h-39 {
  height: 39%;
}

.h-40 {
  height: 40%;
}
.h-41 {
  height: 41%;
}
.h-42 {
  height: 42%;
}
.h-43 {
  height: 43%;
}
.h-44 {
  height: 44%;
}
.h-45 {
  height: 45%;
}
.h-46 {
  height: 46%;
}
.h-47 {
  height: 47%;
}
.h-48 {
  height: 48%;
}
.h-49 {
  height: 49%;
}
.h-50 {
  height: 50%;
}
.h-51 {
  height: 51%;
}
.h-52 {
  height: 52%;
}
.h-53 {
  height: 53%;
}
.h-54 {
  height: 54%;
}
.h-55 {
  height: 55%;
}
.h-56 {
  height: 56%;
}
.h-57 {
  height: 57%;
}
.h-58 {
  height: 58%;
}
.h-59 {
  height: 59%;
}

.h-60 {
  height: 60%;
}
.h-61 {
  height: 61%;
}
.h-62 {
  height: 62%;
}
.h-63 {
  height: 63%;
}
.h-64 {
  height: 64%;
}
.h-65 {
  height: 65%;
}
.h-66 {
  height: 66%;
}
.h-67 {
  height: 67%;
}
.h-68 {
  height: 68%;
}
.h-69 {
  height: 69%;
}

.h-70 {
  height: 70%;
}
.h-71 {
  height: 71%;
}
.h-72 {
  height: 72%;
}
.h-73 {
  height: 73%;
}
.h-74 {
  height: 74%;
}
.h-75 {
  height: 75%;
}
.h-76 {
  height: 76%;
}
.h-77 {
  height: 77%;
}
.h-78 {
  height: 78%;
}
.h-79 {
  height: 79%;
}

.h-80 {
  height: 80%;
}
.h-81 {
  height: 81%;
}
.h-82 {
  height: 82%;
}
.h-83 {
  height: 83%;
}
.h-84 {
  height: 84%;
}
.h-85 {
  height: 85%;
}
.h-86 {
  height: 86%;
}
.h-87 {
  height: 87%;
}
.h-88 {
  height: 88%;
}
.h-89 {
  height: 89%;
}
.h-90 {
  height: 90%;
}
.h-91 {
  height: 91%;
}
.h-92 {
  height: 92%;
}
.h-93 {
  height: 93%;
}
.h-94 {
  height: 94%;
}
.h-95 {
  height: 95%;
}
.h-96 {
  height: 96%;
}
.h-97 {
  height: 97%;
}
.h-98 {
  height: 98%;
}
.h-99 {
  height: 99%;
}
.h-100 {
  height: 100%;
}

.h0d0 {
  height: 0rem;
}
.h0d1 {
  height: 0.1rem;
}
.h0d2 {
  height: 0.2rem;
}
.h0d3 {
  height: 0.3rem;
}
.h0d4 {
  height: 0.4rem;
}
.h0d5 {
  height: 0.5rem;
}
.h0d6 {
  height: 0.6rem;
}
.h0d7 {
  height: 0.7rem;
}
.h0d8 {
  height: 0.8rem;
}
.h0d9 {
  height: 0.9rem;
}
.h1d0 {
  height: 1rem;
}
.h1d1 {
  height: 1.1rem;
}
.h1d2 {
  height: 1.2rem;
}
.h1d3 {
  height: 1.3rem;
}
.h1d4 {
  height: 1.4rem;
}
.h1d5 {
  height: 1.5rem;
}
.h1d6 {
  height: 1.6rem;
}
.h1d7 {
  height: 1.7rem;
}
.h1d8 {
  height: 1.8rem;
}
.h1d9 {
  height: 1.9rem;
}
.h2d0 {
  height: 2rem;
}
.h2d1 {
  height: 2.1rem;
}
.h2d2 {
  height: 2.2rem;
}
.h2d3 {
  height: 2.3rem;
}
.h2d4 {
  height: 2.4rem;
}
.h2d5 {
  height: 2.5rem;
}
.h2d6 {
  height: 2.6rem;
}
.h2d7 {
  height: 2.7rem;
}
.h2d8 {
  height: 2.8rem;
}
.h2d9 {
  height: 2.9rem;
}
.h3d0 {
  height: 3rem;
}
.h3d1 {
  height: 3.1rem;
}
.h3d2 {
  height: 3.2rem;
}
.h3d3 {
  height: 3.3rem;
}
.h3d4 {
  height: 3.4rem;
}
.h3d5 {
  height: 3.5rem;
}
.h3d6 {
  height: 3.6rem;
}
.h3d7 {
  height: 3.7rem;
}
.h3d8 {
  height: 3.8rem;
}
.h3d9 {
  height: 3.9rem;
}
.h4d0 {
  height: 4rem;
}
.h4d1 {
  height: 4.1rem;
}
.h4d2 {
  height: 4.2rem;
}
.h4d3 {
  height: 4.3rem;
}
.h4d4 {
  height: 4.4rem;
}
.h4d5 {
  height: 4.5rem;
}
.h4d6 {
  height: 4.6rem;
}
.h4d7 {
  height: 4.7rem;
}
.h4d8 {
  height: 4.8rem;
}
.h4d9 {
  height: 4.9rem;
}
.h5d0 {
  height: 5rem;
}
.h5d1 {
  height: 5.1rem;
}
.h5d2 {
  height: 5.2rem;
}
.h5d3 {
  height: 5.3rem;
}
.h5d4 {
  height: 5.4rem;
}
.h5d5 {
  height: 5.5rem;
}
.h5d6 {
  height: 5.6rem;
}
.h5d7 {
  height: 5.7rem;
}
.h5d8 {
  height: 5.8rem;
}
.h5d9 {
  height: 5.9rem;
}
.h6d0 {
  height: 6rem;
}
.h6d1 {
  height: 6.1rem;
}
.h6d2 {
  height: 6.2rem;
}
.h6d3 {
  height: 6.3rem;
}
.h6d4 {
  height: 6.4rem;
}
.h6d5 {
  height: 6.5rem;
}
.h6d6 {
  height: 6.6rem;
}
.h6d7 {
  height: 6.7rem;
}
.h6d8 {
  height: 6.8rem;
}
.h6d9 {
  height: 6.9rem;
}
.h7d0 {
  height: 7rem;
}
.h7d1 {
  height: 7.1rem;
}
.h7d2 {
  height: 7.2rem;
}
.h7d3 {
  height: 7.3rem;
}
.h7d4 {
  height: 7.4rem;
}
.h7d5 {
  height: 7.5rem;
}
.h7d6 {
  height: 7.6rem;
}
.h7d7 {
  height: 7.7rem;
}
.h7d8 {
  height: 7.8rem;
}
.h7d9 {
  height: 7.9rem;
}
.h8d0 {
  height: 8rem;
}
.h8d1 {
  height: 8.1rem;
}
.h8d2 {
  height: 8.2rem;
}
.h8d3 {
  height: 8.3rem;
}
.h8d4 {
  height: 8.4rem;
}
.h8d5 {
  height: 8.5rem;
}
.h8d6 {
  height: 8.6rem;
}
.h8d7 {
  height: 8.7rem;
}
.h8d8 {
  height: 8.8rem;
}
.h8d9 {
  height: 8.9rem;
}

.h9d0 {
  height: 9rem;
}
.h9d1 {
  height: 9.1rem;
}
.h9d2 {
  height: 9.2rem;
}
.h9d3 {
  height: 9.3rem;
}
.h9d4 {
  height: 9.4rem;
}
.h9d5 {
  height: 9.5rem;
}
.h9d6 {
  height: 9.6rem;
}
.h9d7 {
  height: 9.7rem;
}
.h9d8 {
  height: 9.8rem;
}
.h9d9 {
  height: 9.9rem;
}

.h10d0 {
  height: 10rem;
}
.h11d0 {
  height: 11rem;
}
.h12d0 {
  height: 12rem;
}
.h13d0 {
  height: 13rem;
}
.h14d0 {
  height: 14rem;
}
.h15d0 {
  height: 15rem;
}
.h16d0 {
  height: 16rem;
}
.h17d0 {
  height: 17rem;
}
.h18d0 {
  height: 18rem;
}
.h19d0 {
  height: 19rem;
}

.h20d0 {
  height: 20rem;
}
.h21d0 {
  height: 21rem;
}
.h22d0 {
  height: 22rem;
}
.h23d0 {
  height: 23rem;
}
.h24d0 {
  height: 24rem;
}
.h25d0 {
  height: 25rem;
}
.h26d0 {
  height: 26rem;
}
.h27d0 {
  height: 27rem;
}
.h28d0 {
  height: 28rem;
}
.h29d0 {
  height: 29rem;
}

.h30d0 {
  height: 30rem;
}
.h31d0 {
  height: 31rem;
}
.h32d0 {
  height: 32rem;
}
.h33d0 {
  height: 33rem;
}
.h34d0 {
  height: 34rem;
}
.h35d0 {
  height: 35rem;
}
.h36d0 {
  height: 36rem;
}
.h37d0 {
  height: 37rem;
}
.h38d0 {
  height: 38rem;
}
.h39d0 {
  height: 39rem;
}

.h40d0 {
  height: 40rem;
}
.h41d0 {
  height: 41rem;
}
.h42d0 {
  height: 42rem;
}
.h43d0 {
  height: 43rem;
}
.h44d0 {
  height: 44rem;
}
.h45d0 {
  height: 45rem;
}
.h46d0 {
  height: 46rem;
}
.h47d0 {
  height: 47rem;
}
.h48d0 {
  height: 48rem;
}
.h49d0 {
  height: 49rem;
}
.h50d0 {
  height: 50rem;
}
.h51d0 {
  height: 51rem;
}
.h52d0 {
  height: 52rem;
}
.h53d0 {
  height: 53rem;
}
.h54d0 {
  height: 54rem;
}
.h55d0 {
  height: 55rem;
}
.h56d0 {
  height: 56rem;
}
.h57d0 {
  height: 57rem;
}
.h58d0 {
  height: 58rem;
}
.h59d0 {
  height: 59rem;
}

.h60d0 {
  height: 60rem;
}
.h61d0 {
  height: 61rem;
}
.h62d0 {
  height: 62rem;
}
.h63d0 {
  height: 63rem;
}
.h64d0 {
  height: 64rem;
}
.h65d0 {
  height: 65rem;
}
.h66d0 {
  height: 66rem;
}
.h67d0 {
  height: 67rem;
}
.h68d0 {
  height: 68rem;
}
.h69d0 {
  height: 69rem;
}

.h70d0 {
  height: 70rem;
}
.h71d0 {
  height: 71rem;
}
.h72d0 {
  height: 72rem;
}
.h73d0 {
  height: 73rem;
}
.h74d0 {
  height: 74rem;
}
.h75d0 {
  height: 75rem;
}
.h76d0 {
  height: 76rem;
}
.h77d0 {
  height: 77rem;
}
.h78d0 {
  height: 78rem;
}
.h79d0 {
  height: 79rem;
}

.h80d0 {
  height: 80rem;
}

.w0d0 {
  width: 0rem;
}
.w0d1 {
  width: 0.1rem;
}
.w0d2 {
  width: 0.2rem;
}
.w0d3 {
  width: 0.3rem;
}
.w0d4 {
  width: 0.4rem;
}
.w0d5 {
  width: 0.5rem;
}
.w0d6 {
  width: 0.6rem;
}
.w0d7 {
  width: 0.7rem;
}
.w0d8 {
  width: 0.8rem;
}
.w0d9 {
  width: 0.9rem;
}
.w1d0 {
  width: 1rem;
}
.w1d1 {
  width: 1.1rem;
}
.w1d2 {
  width: 1.2rem;
}
.w1d3 {
  width: 1.3rem;
}
.w1d4 {
  width: 1.4rem;
}
.w1d5 {
  width: 1.5rem;
}
.w1d6 {
  width: 1.6rem;
}
.w1d7 {
  width: 1.7rem;
}
.w1d8 {
  width: 1.8rem;
}
.w1d9 {
  width: 1.9rem;
}
.w2d0 {
  width: 2rem;
}
.w2d1 {
  width: 2.1rem;
}
.w2d2 {
  width: 2.2rem;
}
.w2d3 {
  width: 2.3rem;
}
.w2d4 {
  width: 2.4rem;
}
.w2d5 {
  width: 2.5rem;
}
.w2d6 {
  width: 2.6rem;
}
.w2d7 {
  width: 2.7rem;
}
.w2d8 {
  width: 2.8rem;
}
.w2d9 {
  width: 2.9rem;
}
.w3d0 {
  width: 3rem;
}
.w3d1 {
  width: 3.1rem;
}
.w3d2 {
  width: 3.2rem;
}
.w3d3 {
  width: 3.3rem;
}
.w3d4 {
  width: 3.4rem;
}
.w3d5 {
  width: 3.5rem;
}
.w3d6 {
  width: 3.6rem;
}
.w3d7 {
  width: 3.7rem;
}
.w3d8 {
  width: 3.8rem;
}
.w3d9 {
  width: 3.9rem;
}
.w4d0 {
  width: 4rem;
}
.w4d1 {
  width: 4.1rem;
}
.w4d2 {
  width: 4.2rem;
}
.w4d3 {
  width: 4.3rem;
}
.w4d4 {
  width: 4.4rem;
}
.w4d5 {
  width: 4.5rem;
}
.w4d6 {
  width: 4.6rem;
}
.w4d7 {
  width: 4.7rem;
}
.w4d8 {
  width: 4.8rem;
}
.w4d9 {
  width: 4.9rem;
}
.w5d0 {
  width: 5rem;
}
.w5d1 {
  width: 5.1rem;
}
.w5d2 {
  width: 5.2rem;
}
.w5d3 {
  width: 5.3rem;
}
.w5d4 {
  width: 5.4rem;
}
.w5d5 {
  width: 5.5rem;
}
.w5d6 {
  width: 5.6rem;
}
.w5d7 {
  width: 5.7rem;
}
.w5d8 {
  width: 5.8rem;
}
.w5d9 {
  width: 5.9rem;
}
.w6d0 {
  width: 6rem;
}
.w6d1 {
  width: 6.1rem;
}
.w6d2 {
  width: 6.2rem;
}
.w6d3 {
  width: 6.3rem;
}
.w6d4 {
  width: 6.4rem;
}
.w6d5 {
  width: 6.5rem;
}
.w6d6 {
  width: 6.6rem;
}
.w6d7 {
  width: 6.7rem;
}
.w6d8 {
  width: 6.8rem;
}
.w6d9 {
  width: 6.9rem;
}
.w7d0 {
  width: 7rem;
}
.w7d1 {
  width: 7.1rem;
}
.w7d2 {
  width: 7.2rem;
}
.w7d3 {
  width: 7.3rem;
}
.w7d4 {
  width: 7.4rem;
}
.w7d5 {
  width: 7.5rem;
}
.w7d6 {
  width: 7.6rem;
}
.w7d7 {
  width: 7.7rem;
}
.w7d8 {
  width: 7.8rem;
}
.w7d9 {
  width: 7.9rem;
}
.w8d0 {
  width: 8rem;
}
.w8d1 {
  width: 8.1rem;
}
.w8d2 {
  width: 8.2rem;
}
.w8d3 {
  width: 8.3rem;
}
.w8d4 {
  width: 8.4rem;
}
.w8d5 {
  width: 8.5rem;
}
.w8d6 {
  width: 8.6rem;
}
.w8d7 {
  width: 8.7rem;
}
.w8d8 {
  width: 8.8rem;
}
.w8d9 {
  width: 8.9rem;
}

.w9d0 {
  width: 9rem;
}
.w9d1 {
  width: 9.1rem;
}
.w9d2 {
  width: 9.2rem;
}
.w9d3 {
  width: 9.3rem;
}
.w9d4 {
  width: 9.4rem;
}
.w9d5 {
  width: 9.5rem;
}
.w9d6 {
  width: 9.6rem;
}
.w9d7 {
  width: 9.7rem;
}
.w9d8 {
  width: 9.8rem;
}
.w9d9 {
  width: 9.9rem;
}

.w10d0 {
  width: 10rem;
}
.w11d0 {
  width: 11rem;
}
.w12d0 {
  width: 12rem;
}
.w13d0 {
  width: 13rem;
}
.w14d0 {
  width: 14rem;
}
.w15d0 {
  width: 15rem;
}
.w16d0 {
  width: 16rem;
}
.w17d0 {
  width: 17rem;
}
.w18d0 {
  width: 18rem;
}
.w19d0 {
  width: 19rem;
}

.w20d0 {
  width: 20rem;
}
.w21d0 {
  width: 21rem;
}
.w22d0 {
  width: 22rem;
}
.w23d0 {
  width: 23rem;
}
.w24d0 {
  width: 24rem;
}
.w25d0 {
  width: 25rem;
}
.w26d0 {
  width: 26rem;
}
.w27d0 {
  width: 27rem;
}
.w28d0 {
  width: 28rem;
}
.w29d0 {
  width: 29rem;
}

.w30d0 {
  width: 30rem;
}
.w31d0 {
  width: 31rem;
}
.w32d0 {
  width: 32rem;
}
.w33d0 {
  width: 33rem;
}
.w34d0 {
  width: 34rem;
}
.w35d0 {
  width: 35rem;
}
.w36d0 {
  width: 36rem;
}
.w37d0 {
  width: 37rem;
}
.w38d0 {
  width: 38rem;
}
.w39d0 {
  width: 39rem;
}

.w40d0 {
  width: 40rem;
}
.w41d0 {
  width: 41rem;
}
.w42d0 {
  width: 42rem;
}
.w43d0 {
  width: 43rem;
}
.w44d0 {
  width: 44rem;
}
.w45d0 {
  width: 45rem;
}
.w46d0 {
  width: 46rem;
}
.w47d0 {
  width: 47rem;
}
.w48d0 {
  width: 48rem;
}
.w49d0 {
  width: 49rem;
}
.w50d0 {
  width: 50rem;
}
.w51d0 {
  width: 51rem;
}
.w52d0 {
  width: 52rem;
}
.w53d0 {
  width: 53rem;
}
.w54d0 {
  width: 54rem;
}
.w55d0 {
  width: 55rem;
}
.w56d0 {
  width: 56rem;
}
.w57d0 {
  width: 57rem;
}
.w58d0 {
  width: 58rem;
}
.w59d0 {
  width: 59rem;
}

.w60d0 {
  width: 60rem;
}
.w61d0 {
  width: 61rem;
}
.w62d0 {
  width: 62rem;
}
.w63d0 {
  width: 63rem;
}
.w64d0 {
  width: 64rem;
}
.w65d0 {
  width: 65rem;
}
.w66d0 {
  width: 66rem;
}
.w67d0 {
  width: 67rem;
}
.w68d0 {
  width: 68rem;
}
.w69d0 {
  width: 69rem;
}

.w70d0 {
  width: 70rem;
}
.w71d0 {
  width: 71rem;
}
.w72d0 {
  width: 72rem;
}
.w73d0 {
  width: 73rem;
}
.w74d0 {
  width: 74rem;
}
.w75d0 {
  width: 75rem;
}
.w76d0 {
  width: 76rem;
}
.w77d0 {
  width: 77rem;
}
.w78d0 {
  width: 78rem;
}
.w79d0 {
  width: 79rem;
}
.w80d0 {
  width: 80rem;
}

.fs0d0 {
  font-size: 0rem;
}
.fs0d1 {
  font-size: 0.1rem;
}
.fs0d2 {
  font-size: 0.2rem;
}
.fs0d3 {
  font-size: 0.3rem;
}
.fs0d4 {
  font-size: 0.4rem;
}
.fs0d5 {
  font-size: 0.5rem;
}
.fs0d6 {
  font-size: 0.6rem;
}
.fs0d7 {
  font-size: 0.7rem;
}
.fs0d8 {
  font-size: 0.8rem;
}
.fs0d9 {
  font-size: 0.9rem;
}
.fs1d0 {
  font-size: 1rem;
}
.fs1d1 {
  font-size: 1.1rem;
}
.fs1d2 {
  font-size: 1.2rem;
}
.fs1d3 {
  font-size: 1.3rem;
}
.fs1d4 {
  font-size: 1.4rem;
}
.fs1d5 {
  font-size: 1.5rem;
}
.fs1d6 {
  font-size: 1.6rem;
}
.fs1d7 {
  font-size: 1.7rem;
}
.fs1d8 {
  font-size: 1.8rem;
}
.fs1d9 {
  font-size: 1.9rem;
}
.fs2d0 {
  font-size: 2rem;
}
.fs2d1 {
  font-size: 2.1rem;
}
.fs2d2 {
  font-size: 2.2rem;
}
.fs2d3 {
  font-size: 2.3rem;
}
.fs2d4 {
  font-size: 2.4rem;
}
.fs2d5 {
  font-size: 2.5rem;
}
.fs2d6 {
  font-size: 2.6rem;
}
.fs2d7 {
  font-size: 2.7rem;
}
.fs2d8 {
  font-size: 2.8rem;
}
.fs2d9 {
  font-size: 2.9rem;
}
.fs3d0 {
  font-size: 3rem;
}
.fs3d1 {
  font-size: 3.1rem;
}
.fs3d2 {
  font-size: 3.2rem;
}
.fs3d3 {
  font-size: 3.3rem;
}
.fs3d4 {
  font-size: 3.4rem;
}
.fs3d5 {
  font-size: 3.5rem;
}
.fs3d6 {
  font-size: 3.6rem;
}
.fs3d7 {
  font-size: 3.7rem;
}
.fs3d8 {
  font-size: 3.8rem;
}
.fs3d9 {
  font-size: 3.9rem;
}
.fs4d0 {
  font-size: 4rem;
}
.fs4d1 {
  font-size: 4.1rem;
}
.fs4d2 {
  font-size: 4.2rem;
}
.fs4d3 {
  font-size: 4.3rem;
}
.fs4d4 {
  font-size: 4.4rem;
}
.fs4d5 {
  font-size: 4.5rem;
}
.fs4d6 {
  font-size: 4.6rem;
}
.fs4d7 {
  font-size: 4.7rem;
}
.fs4d8 {
  font-size: 4.8rem;
}
.fs4d9 {
  font-size: 4.9rem;
}
.fs5d0 {
  font-size: 5rem;
}
.fs5d1 {
  font-size: 5.1rem;
}
.fs5d2 {
  font-size: 5.2rem;
}
.fs5d3 {
  font-size: 5.3rem;
}
.fs5d4 {
  font-size: 5.4rem;
}
.fs5d5 {
  font-size: 5.5rem;
}
.fs5d6 {
  font-size: 5.6rem;
}
.fs5d7 {
  font-size: 5.7rem;
}
.fs5d8 {
  font-size: 5.8rem;
}
.fs5d9 {
  font-size: 5.9rem;
}
.fs6d0 {
  font-size: 6rem;
}
.fs6d1 {
  font-size: 6.1rem;
}
.fs6d2 {
  font-size: 6.2rem;
}
.fs6d3 {
  font-size: 6.3rem;
}
.fs6d4 {
  font-size: 6.4rem;
}
.fs6d5 {
  font-size: 6.5rem;
}
.fs6d6 {
  font-size: 6.6rem;
}
.fs6d7 {
  font-size: 6.7rem;
}
.fs6d8 {
  font-size: 6.8rem;
}
.fs6d9 {
  font-size: 6.9rem;
}
.fs7d0 {
  font-size: 7rem;
}
.fs7d1 {
  font-size: 7.1rem;
}
.fs7d2 {
  font-size: 7.2rem;
}
.fs7d3 {
  font-size: 7.3rem;
}
.fs7d4 {
  font-size: 7.4rem;
}
.fs7d5 {
  font-size: 7.5rem;
}
.fs7d6 {
  font-size: 7.6rem;
}
.fs7d7 {
  font-size: 7.7rem;
}
.fs7d8 {
  font-size: 7.8rem;
}
.fs7d9 {
  font-size: 7.9rem;
}
.fs8d0 {
  font-size: 8rem;
}
.fs8d1 {
  font-size: 8.1rem;
}
.fs8d2 {
  font-size: 8.2rem;
}
.fs8d3 {
  font-size: 8.3rem;
}
.fs8d4 {
  font-size: 8.4rem;
}
.fs8d5 {
  font-size: 8.5rem;
}
.fs8d6 {
  font-size: 8.6rem;
}
.fs8d7 {
  font-size: 8.7rem;
}
.fs8d8 {
  font-size: 8.8rem;
}
.fs8d9 {
  font-size: 8.9rem;
}

.fs9d0 {
  font-size: 9rem;
}
.fs9d1 {
  font-size: 9.1rem;
}
.fs9d2 {
  font-size: 9.2rem;
}
.fs9d3 {
  font-size: 9.3rem;
}
.fs9d4 {
  font-size: 9.4rem;
}
.fs9d5 {
  font-size: 9.5rem;
}
.fs9d6 {
  font-size: 9.6rem;
}
.fs9d7 {
  font-size: 9.7rem;
}
.fs9d8 {
  font-size: 9.8rem;
}
.fs9d9 {
  font-size: 9.9rem;
}

.fs10d0 {
  font-size: 10rem;
}
.fs11d0 {
  font-size: 11rem;
}
.fs12d0 {
  font-size: 12rem;
}
.fs13d0 {
  font-size: 13rem;
}
.fs14d0 {
  font-size: 14rem;
}
.fs15d0 {
  font-size: 15rem;
}
.fs16d0 {
  font-size: 16rem;
}
.fs17d0 {
  font-size: 17rem;
}
.fs18d0 {
  font-size: 18rem;
}
.fs19d0 {
  font-size: 19rem;
}

.fs20d0 {
  font-size: 20rem;
}
.fs21d0 {
  font-size: 21rem;
}
.fs22d0 {
  font-size: 22rem;
}
.fs23d0 {
  font-size: 23rem;
}
.fs24d0 {
  font-size: 24rem;
}
.fs25d0 {
  font-size: 25rem;
}
.fs26d0 {
  font-size: 26rem;
}
.fs27d0 {
  font-size: 27rem;
}
.fs28d0 {
  font-size: 28rem;
}
.fs29d0 {
  font-size: 29rem;
}

.fs30d0 {
  font-size: 30rem;
}
.fs31d0 {
  font-size: 31rem;
}
.fs32d0 {
  font-size: 32rem;
}
.fs33d0 {
  font-size: 33rem;
}
.fs34d0 {
  font-size: 34rem;
}
.fs35d0 {
  font-size: 35rem;
}
.fs36d0 {
  font-size: 36rem;
}
.fs37d0 {
  font-size: 37rem;
}
.fs38d0 {
  font-size: 38rem;
}
.fs39d0 {
  font-size: 39rem;
}

.fs40d0 {
  font-size: 40rem;
}
.fs41d0 {
  font-size: 41rem;
}
.fs42d0 {
  font-size: 42rem;
}
.fs43d0 {
  font-size: 43rem;
}
.fs44d0 {
  font-size: 44rem;
}
.fs45d0 {
  font-size: 45rem;
}
.fs46d0 {
  font-size: 46rem;
}
.fs47d0 {
  font-size: 47rem;
}
.fs48d0 {
  font-size: 48rem;
}
.fs49d0 {
  font-size: 49rem;
}
.fs50d0 {
  font-size: 50rem;
}
.fs51d0 {
  font-size: 51rem;
}
.fs52d0 {
  font-size: 52rem;
}
.fs53d0 {
  font-size: 53rem;
}
.fs54d0 {
  font-size: 54rem;
}
.fs55d0 {
  font-size: 55rem;
}
.fs56d0 {
  font-size: 56rem;
}
.fs57d0 {
  font-size: 57rem;
}
.fs58d0 {
  font-size: 58rem;
}
.fs59d0 {
  font-size: 59rem;
}

.fs60d0 {
  font-size: 60rem;
}
.fs61d0 {
  font-size: 61rem;
}
.fs62d0 {
  font-size: 62rem;
}
.fs63d0 {
  font-size: 63rem;
}
.fs64d0 {
  font-size: 64rem;
}
.fs65d0 {
  font-size: 65rem;
}
.fs66d0 {
  font-size: 66rem;
}
.fs67d0 {
  font-size: 67rem;
}
.fs68d0 {
  font-size: 68rem;
}
.fs69d0 {
  font-size: 69rem;
}

.fs70d0 {
  font-size: 70rem;
}
.fs71d0 {
  font-size: 71rem;
}
.fs72d0 {
  font-size: 72rem;
}
.fs73d0 {
  font-size: 73rem;
}
.fs74d0 {
  font-size: 74rem;
}
.fs75d0 {
  font-size: 75rem;
}
.fs76d0 {
  font-size: 76rem;
}
.fs77d0 {
  font-size: 77rem;
}
.fs78d0 {
  font-size: 78rem;
}
.fs79d0 {
  font-size: 79rem;
}

.fs80d0 {
  font-size: 80rem;
}